body {
  font-family: "Barlow", sans-serif;
}

nav h2 {
  font-weight: 600;
  margin: 0;
}

header .container {
  margin-top: 100px;
  margin-left: 100px;
}

header p {
  width: 400px;
}

#text-section1 {
  width: 370px;
}

svg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 58px;
  height: 58px;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bartender.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
